<!DOCTYPE html>
<html>
  <head>
    <title>Toiawase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-preview">
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if full_page %>
      <%= yield %>
      <div class="container">
        <%= render 'shared/footer' %>
      </div>
    <% else %>
      <div class="container-fluid">
        <div class="row">
          <% unless no_sidebar %>
            <div class="col-sm-2 d-none d-sm-block bg-light sidebar" id="sidebar">
              <% if current_page_setting %>
                <%= render partial: 'setting/setting_sidebar' %>
              <% else %>
                <%= render partial: 'products/products_sidebar', locals: { products: @products } %>
              <% end %>
            </div>
            <div class="offset-sm-2 col-sm-10" id="main">
              <%= render 'shared/flashes' %>
              <%= yield %>
            </div>
          <% else %>
            <div class="mx-auto container" id="main_no_side">
              <%= render 'shared/flashes' %>
              <%= yield %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless signed_in? %>
      <%= render 'shared/signin' %>
    <% end %>
  </body>
</html>
